body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(275, 100%, 97%);
}

.bg-image {
    height: 35vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./assets/images/background-pattern-desktop.svg");
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

/* For screens with a width of 768px or more (desktop screens) */
@media (min-width: 768px) {
    .bg-image {
        background-image: url("./assets/images/background-pattern-desktop.svg"); /* Desktop image for screens with a width of 768px or more */
    }
}

/* For screens with a width less than 768px (mobile screens) */
@media (max-width: 767px) {
    .bg-image {
        background-image: url("./assets/images/background-pattern-mobile.svg"); /* Mobile image for screens with a width less than 768px */
    }
}

.faq-container {
    width: 35%;
    max-width: 1440px;
    padding: /* top */ 20px /* right */ 40px /* bottom */ 20px /* left */ 40px;
    margin: /* top */ 150px /* right */ 0 /* bottom */ 0 /* left */ 0;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

/* For screens with a width less than 768px (mobile screens) */
/*@media (max-width: 767px) {
    .faq-container {
        width: 10%;
    }
}*/

.faq-container-header {
    width: auto;
    display: flex;
    align-items: center;
    padding: /* top */ 10px /* right */ 0 /* bottom */ 10px /* left */ 0;
}

.faq-container-header img {
    max-width: 50px;
    height: auto;
    margin-right: 25px;
}

.faq-container-header div {
    font-size: 50px;
    font-weight: 700;
    color: hsl(292, 42%, 14%);
}

.faq-container-body {
    width: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.faq-question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-header {
    margin: /* top */ 0 /* right */ 0 /* bottom */ 0 /* left */ 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.faq-question {
    width: auto;
    display: inline-block;
    padding: /* top */ 20px /* right */ 20px /* bottom */ 20px /* left */ 0;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: 600;
}

.faq-question:hover,
.faq-question:focus {
    color: hsl(293, 100%, 50%);
    outline: none;
}

.icon-plus,
.icon-minus {
    max-width: 30px;
    height: auto;
    margin-left: auto;
}

.icon-minus {
    display: none;
}

.faq-answer {
    display: none;
    padding: /* top */ 20px /* right */ 20px /* bottom */ 20px /* left */ 0;
    color: hsl(0, 0%, 50%);
    font-size: 16px;
}

.faq-question-container.active .faq-answer {
    display: block;
}

.attribution {
    font-size: 14px;
    color: hsl(292, 42%, 14%);
    padding: /* top */ 0px /* right */ 0 /* bottom */ 20px /* left */ 0;
    text-align: center;
    position: relative;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
}