body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(0, 0%, 100%);
    background-image: url('./assets/images/background-pattern-desktop.svg'); /* Default image for all screen sizes */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* For screens with a width of 768px or more (desktop screens) */
@media (min-width: 768px) {
    body {
        background-image: url('./assets/images/background-pattern-desktop.svg'); /* Desktop image for screens with a width of 768px or more */
    }
}

/* For screens with a width less than 768px (mobile screens) */
@media (max-width: 767px) {
    body {
        background-image: url('./assets/images/background-pattern-mobile.svg'); /* Mobile image for screens with a width less than 768px */
    }
}


.faq-container {
    width: 80%;
    max-width: 1440px;
    background-color: hsl(275, 100%, 97%);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    position: relative;
}

.faq-container-header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.faq-container-header img {
    margin-right: 10px;
}

.faq-container-header div {
    font-size: 24px;
    font-weight: 700;
    color: hsl(292, 42%, 14%);
}

.faq-container-body {
    padding: 20px;
}

.faq-item {
    border: 1px solid hsl(292, 16%, 49%);
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
}

.faq-question {
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

.faq-answer {
    display: none;
    padding: 20px;
    font-size: 16px;
}

.faq-item.active .faq-answer {
    display: block;
}

.faq-question:hover,
.faq-question:focus {
    background-color: hsl(275, 100%, 97%);
    outline: none;
}

.attribution {
    font-size: 14px;
    color: hsl(292, 16%, 49%);
    margin-top: auto;
    padding: 20px;
    text-align: center;
    background-color: hsl(275, 100%, 97%);
}
